@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

body{
    box-sizing: border-box;
    background-color: white;
    color:black;
}

.cabecalho{
    padding: 4% 15% 4% 15%;
}

.cabecalho_navegacao{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_botoes{
    display: flex;
    list-style-type: none;
    gap: 32px;
    color: #1F1534;
    align-items: center;
    font-family: "Mulish", sans-serif;
    font-size: 1.125rem;

}

.cabecalho_botoes_home{
    font-weight: 700;
}

.conteudo{
    display: flex;
    flex-direction: column;
    /**background-image: url(element.png);**/
}

.conteudo_sessao1{
    padding: 2% 15% 2% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    
}

.conteudo_sessao1_textos{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 40px;
}

.conteudo_sessao1_textos_titulo{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    font-family: "Mulish", sans-serif;
}

.conteudo_sessao1_textos_texto{
    color: #7D7987;
    font-size: 1.313 rem;
    font-family: "Mulish", sans-serif;
}

.conteudo_sessao1_textos_botao{
    color: #FFFFFF;
    background-color: #458FF6;
    width: 200px;
    border-radius: 15px;
    padding: 15px 0;
    justify-content: center;
    text-decoration: none;
    font-size: 1.125 rem;
    font-family: "Mulish", sans-serif;
    text-align: center;
    
}

.conteudo_sessao1_img {
    width: 50%;
}

.conteudo_sessao1_img img{
    max-width: 100%;
}

.conteudo_sessao2{
    padding: 5% 20% 0% 20%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.conteudo_sessao2_textos{
    padding: 0% 10% 0% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.conteudo_sessao2_textos.titulo{
    font-size: 2.25;
    font-weight: 700;
}

.conteudo_sessao2_textos_texto{
    color: #7D7987;
}

.conteudo_sessao2_conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:34px;
}

.conteudo_sessao2_conteiner_filho{
    
}

hr{
    position: relative;
    top: 20px;
    width: 56px;
    border: none;
    height: 2px;
    background: #000000;
    margin-bottom: 50px;
    
}
